@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
body{
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}
/* utilities */
 /* return to top */

 #return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9999;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


@font-face {
  font-family: "myFirstFont";
  src: url("freelandfonts.ttf");
}

@font-face {
  font-family: "Allura";
  src: url("Allura-Regular.otf");
}
@font-face {
  font-family: "bromello";
  src: url("bromello-Regular.ttf");

}
@font-face {
  font-family: "Faritta";
  src: url("Faritta.ttf");

}



/* navbar */
.navbar{

  width: 100%;
  z-index: 1;
  margin-top: 0;
  padding: 0;
  font-family: myFirstFont;
  font-weight: bold;
}
.navbar ul{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* background-color: #77c3cc; */
  flex: 1;
}

.navbar ul li{
  display: inline-block;
}

.navbar li a{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 20px;
  font-size: 17px;
  color: white;
  letter-spacing: 2px;
}


@media (max-width: 660px) {
  .navbar li a{
    font-size: 15px;
    padding: 25px 10px;
  }

}


@media (max-width:530px) {
  .navbar li a{
    font-size: 12px;
    padding: 20px 8px;
  }

}

@media (max-width: 420px) {

  .navbar li a{
    font-size: 10px;
    padding: 15px 8px;
  }


}

/* hero section */
.hero_section{
  width: 100%;
  height: 900px;
  background-image:linear-gradient(darkgrey,darkgrey) ,url("../img/contactcover2.jpg");
  background-size: cover;
  background-blend-mode: multiply;

}

.hero_text_section{
  display: flex;
  justify-content: center;   /*horizontally center*/
  align-items: center;  /*vertically center*/
  margin: auto;
  height: 70%;

}

.hero_text{
  color: white;
  text-align: center;
  /* text-transform: uppercase; */
}

.hero_text h1{
  font-size: 150px;
  font-weight: bold;
  font-family: Faritta;
  padding: 0;
  margin: auto;

}

.hero_text p{
  letter-spacing: 5px;
  font-weight: bold;
  font-family: Faritta;
  font-size: 50px;
}

@media (max-width: 950px){

  .hero_section{
    height: 800px;
  }

  .hero_text img{
    height:300px;
    width:300px;
  }
  .hero_text h1{
    font-size: 80px;
  }
  .hero_text p{
    font-size: 30px;
  }
}


@media (max-width: 600px){
    .hero_section{
      height: 600px;
    }
    .hero_text img{
      height:250px;
      width:250px;
    }
  .hero_text h1{
    font-size: 60px;
  }
  .hero_text p{
    font-size: 25px;
  }
}

@media (max-width: 500px){
  .hero_text h1{
    font-size: 90px;
  }
}



@media (max-width:370px) {
  .hero_text h1{
    font-size: 80px;
  }

  .hero_text p{
    font-size: 20px;
  }
}


/* heading */
.heading{
  margin: auto;
  font-family: myFirstFont;
  font-size: 100px;
  text-align: center;
  padding: 30px 0;
  color:#c3a343;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(../img/gold.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;

}

@media screen and (max-width:860px) {
  .heading{
    font-size: 80px;
  }

}

@media screen and (max-width:860px) {
  .heading{
    font-size: 80px;
  }

}

@media screen and (max-width:500px) {
  .heading{
    font-size: 60px;
  }
}

.image_responsive{
  width:100%;
  max-width: 100%;
  height:auto;
}

#process h3{
  width:100%;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 600px) {
  #process h3{
    width:100%;
    font-size: 20px;
    font-weight: bold;
  }

  #process img{
    padding: 0px;
    min-height:250px;
    min-width:250px;
  }
}

@media (max-width: 400px) {
  #process h3{
    width:100%;
    font-size: 15px;
    font-weight: bold;
  }
}

#process p{
  width: 100%;
  font-size: 15px;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 25px;
}

#process .row{
  text-align: center;
}


#content{

  margin: auto;
  text-align: center;
  font-size: 23px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  color:#ff0080;
  line-height: normal;

}

#process ul{
  list-style: none;
  margin: auto;
  text-align: left;
}

.team_inner{
position: absolute;
left: 0;
bottom: -20px;
transition: all 0.3s ease;
z-index: 1;
width: 100%;
transform: rotate(-90deg);
transform-origin: top left;
margin-left: 30px;
}


.social-container{
  margin: auto;
  font-size: 1.2rem;
  font-family: "Pacifico", cursive;
  display: inline-block;
}

.social-container i{
  background-color: #33383b;
  color: #ffffff;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 5px 5px;
  vertical-align: middle;
}

@media (max-width: 650px) {
.social-container{
  font-size: 0.9rem;
}

}


/* contact form 3 */
svg {
  height: 23rem;
  margin-right: 4rem;
}

#svg{
  margin: auto;
  text-align: center;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6 {
  animation: blink 1s ease-in-out infinite;
}

#star2 {
  animation-delay: 100ms;
}

#star3 {
  animation-delay: 500ms;
}

#star4 {
  animation-delay: 700ms;
}

#star5 {
  animation-delay: 300ms;
}

#star6 {
  animation-delay: 200ms;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#form .container {
  height: 100vh;
}

form .row .col {
  margin: auto;
}
form .title {
  font-family: "Pacifico", cursive;
  color: #212529;
  font-size: 2.5rem;
}
form .form-control {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
form .form-control.thick {
  height: 3.3rem;
  padding: 0.5rem 3.5rem;
}
form .form-control:focus {
  background-color: #f2f6f8;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
form .message .form-control {
  padding: 0.5rem 1.8rem;
}
form ::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #838788;
  position: relative;
  left: 0;
}
form input,
form textarea {
  font-family: "Quicksand", sans-serif;
  color: #212529;
  font-size: 1.1rem;
}
form .icon {
  color: #57565c;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
}

.btn.btn-primary {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

@media (max-width: 650px) {
  svg {
    width: 20rem;
    height: 20rem;
    margin: auto;
  }

}

@media (max-width: 360px) {
  svg {
    width: 15rem;
    height: 15rem;
    margin: auto;
  }

}



 /*
 footer */


 /* footer */
 .footer-distributed{
  background: #77c3cc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
 font-family: 'PT Sans', sans-serif;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
  font-family: Faritta;
}

.footer-space{
  margin-top: 10px;
}

.footer-space p{
  line-height: 1.5;

}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
  font-family: Faritta;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
 font-family: Faritta;
  font: normal 36px Faritta;
  margin: 0;
 padding: 0;
}


/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
 font-family: 'PT Sans', sans-serif;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
  font-family: 'PT Sans', sans-serif;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;

}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
 font-family: 'PT Sans', sans-serif;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:16px;
  line-height:2;
 font-family: 'PT Sans', sans-serif;
}

.footer-distributed .footer-center p a{
  color:  white;
  text-decoration: none;
 font-family: 'PT Sans', sans-serif;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  white;
  font-size: 13px;
  font-weight: normal;
 font-family: 'PT Sans', sans-serif;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 16px;
  font-weight: bold;
 font-family: 'PT Sans', sans-serif;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
   font-family: 'PT Sans', sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
   font-family: 'PT Sans', sans-serif;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
